#container{
    background-color:rgb(0, 255, 213);
}
header{
    background-color: blanchedalmond;
}

body {
    margin: 0px;
}

#footer{
    background-color: rgb(196, 255, 204);
}

.sketchTileRow{
    display:block;
}

.sketchTile{
    
    display:inline-block;
    width:30px;
    height:30px;
}


.blueTile{
    background-color: blue;
}

.redTile{
    background-color: red;
}

.blackTile{
    background-color:black;
}

.whiteTile{
    background-color:white;
}